<!DOCTYPE html>
<html>
  <script src="https://unpkg.com/vue@2.5.17"></script>
  <script src="https://unpkg.com/vue-router@3.0.1"></script>
  <head>
    <meta charset="utf-8">
    <title>Vue Router Sample</title>
  </head>
  <body>
    <div id="app">
      <nav>
        <router-link to="/top">top page</router-link>
        <router-link to="/users">users page</router-link> 
      </nav>
      <div>
        <router-view></router-view>      
      </div>
    </div>
  </body>
</html>

<!-- x-templateを使ってテンプレートを定義 -->
<!-- ユーザー一覧ページのテンプレート -->
<script type="text/x-template" id="user-list">
  <div>
    <div class="loading" v-if="loading">now loading...</div>
    <div class="error" v-if="error">{{error}}</div>
    <div v-for="user in users" v-bind:key="user.id">
    	<router-link v-bind:to="'/users/'+user.id">{{ user.name }}</router-link>
    </div>
    <router-link to="/users/new">Create new User</router-link>
  </div>
</script>

<!-- ユーザ詳細ページのテンプレート -->
<script type="text/x-template" id="user-detail">
  <div>
    <div class="loading" v-if="loading">now loading...</div>
    <div class="error" v-if="error">{{error}}</div>
    <div v-if="user">
      <h2>{{ user.name }}</h2>
      <p>{{ user.description }}</p>
    </div>
  </div>
</script>

<!-- ユーザ作成ページのテンプレート -->
<script type="text/x-template" id="user-create">
  <div>
    <div class="sending" v-if="sending">Sending...</div>
    <div>
      <h2>Create New User</h2>
      <div>
        <label>Name:</label>
        <input type="text" v-model="user.name">
      </div>
      
      <div>
        <label>Description</label>
        <textarea v-model="user.description"></textarea>
      </div>
      <div class="error" v-if="error">{{error}}</div>
      <div>
        <input type="button" @click="createUser" value="Submit">
      </div>
    </div>
  </div>
</script>
 
<script type="text/javascript" src= "vue1.js"></script>
<link rel="stylesheet" type="text/css" href="vue1.css" />